{% extends "TrinityAdminBundle::layout.html.twig" %}

    {% block stylesheets %}
        {{ parent() }}
        <link rel="stylesheet" href="{{ asset("assetic/necktie_icons.css") }}"/>
    {% endblock %}

    {% block navbar %}
        {{ parent() }}
    {% endblock %}

    {% block project_label %}
        Project
    {% endblock %}

    {% block navbar_logo %}
        <a class="color-white" href="/">
            <i class="necktie necktielogo2"></i>
        </a>
    {% endblock %}

    {% block title %} Trinity Administration {% endblock %}

    {% block flashMessages %}
        {{ parent() }}
    {% endblock %}

    {% block trinity_admin_script_footer %}

        {% block trinityAdminJavascript %}
            <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
            <script type="application/javascript" src="/js/main.js"></script>
        {%  endblock %}

        {% block necktieJavascript %}

        {% endblock %}
        {{ parent() }}
    {% endblock %}

{% block sidebar %}
    {{ knp_menu_render('sidebar', {"currentClass": "active", "template" : "TrinityAdminBundle::kmp_menu.html.twig"}) }}
{% endblock %}
