{% spaceless %}
<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <meta charset="UTF-8"/>
            <title>{% block title %}Trinity Administration{% endblock %}</title>
            <meta name="viewport"
                  content="initial-scale=1, width=device-width, maximum-scale=1, minimum-scale=1, user-scalable=no">
        {% endblock %}

        {% block header_javascript %}
            {% block jquery %}
            {% endblock %}

            {% block headerJavascripts %}
            {% endblock %}

            {% block highcharts %}
            {% endblock %}
        {% endblock %}

        {% block stylesheets %}
            <link rel="stylesheet" href="//cdn.materialdesignicons.com/1.9.32/css/materialdesignicons.min.css">
            <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('favicons/apple-touch-icon.png') }}">
            <link rel="icon" type="image/png" href="{{ asset('favicons/favicon-32x32.png') }}" sizes="32x32">
            <link rel="icon" type="image/png" href="{{ asset('favicons/favicon-16x16.png') }}" sizes="16x16">
            <link rel="manifest" href="{{ asset('favicons/manifest.json') }}">
            <link rel="mask-icon" href="{{ asset('favicons/safari-pinned-tab.svg') }}" color="#5718d0">
            <link rel="shortcut icon" href="{{ asset('favicons/favicon.ico') }}?v=3">
            <meta name="msapplication-config" content="{{ asset('favicons/browserconfig.xml') }}">
            <meta name="theme-color" content="#ffffff">

            {% stylesheets
                '@TrinityAdminBundle/Resources/Public/bowtie/bowtie.css'
                '@TrinityAdminBundle/Resources/Public/css/admin.css'
                output="style.css"
            %}
            <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
            {% endstylesheets %}

            {% stylesheets
                '@TrinityAdminBundle/Resources/Public/css/trinity-font.css' %}
                <link media="none" onload="if(media !== 'all')media='all'" rel="stylesheet" type="text/css"
                      href="{{ asset_url }}"/>
            {% endstylesheets %}
        {% endblock %}

    </head>

    <body class="grid-sidebar grid-navigation-body navbar-fixed">
    
        {% block flashMessages %}
            {% set flashMessages = [] %}
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    {% set flashMessages = flashMessages|merge([type, message]) %}
                {% endfor %}
            {% endfor %}

            <div id="flash-message-container" data-messages="{{ flashMessages|json_encode }}">
                <div id="flash-message-template" class="display-none">
                    {% if messageTemplate is defined %}
                        {% include messageTemplate %}
                    {% else %}
                        {# Default flash message template #}
                        <input id="close-{id}" type="radio" class="checkbox-none">
                        <div class="alert alert-{type}">
                            <div class="container">
                                <div class="row">
                                    <div class="mini-24">
                                        <label for="close-{id}" class="alert-label">
                                            <i class="tiecons tiecons-cross-light alert-close-icon button close-button"></i>
                                        </label>
                                        <div class="row">
                                            <div class="show-alert">
                                                <div class="span-none-padding-mini-7">
                                                    <i class="trinity alert-icon"></i>
                                                </div>
                                                <div class="span-none-padding-mini-17">
                                                    <p>
                                                        {message}
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endblock %}


        {# Navbar #}
        <header class="main-header large-24">
            <div class="grid-content">
            {% block navbar %}
                <nav class="navbar row">

                    <div id="navbar-left">
                        <div class="navbar-logo">
                            {% block navbar_logo %} <i> Logo </i> {% endblock %}
                        </div>

                        <div id="navbar-project" class="pull-left">
                            {% block navbar_project %}
                                <div id="project-select">
                                    <span>{% block project_label %}{% endblock %}</span>
                                    <h2 class="title">{% block navbar_project_name %}{% endblock %}</h2>
                                </div>
                            {% endblock %}
                        </div>
                        <a class="button button-medium pull-right" id="main-menu-button">☰</a>
                    </div>

                    <div class="navbar-container">
                        <div class="navbar-actions-item page-title pull-left">
                            {% block navbarTitle %}
                                Navbar title
                            {% endblock %}
                        </div>

                        <div id="navbar-actions" class="pull-right">
                            {% block pageAction %}
                            {% endblock %}
                        </div>
                    </div>
                </nav>
            {% endblock %}
            </div>
        </header>


        {# Main content of the page - sidebar, body, tabs #}
        <main class="main-content">
            <div class="large-24">
                <div class="grid-content">
                    <section class="main-section">
                        <div class="body-wrapper">
                            {% block pageBody %}
                            {% endblock %}
                        </div>
                    </section>
                    {% block element_sidebar %}
                        <aside class="grid-aside sidebar-first" id="sidebar">
                            {% block sidebar %}
                                Sidebar
                            {% endblock %}
                        </aside>
                    {% endblock %}
                </div>
            </div>

            {% block trinity_admin_script_footer %}
                {% block javascripts %}
                {% endblock %}
            {% endblock %}

        </main>
    </body>
</html>

{% endspaceless %}
