{# Macros for creating different sorts of page items #}

{#
    Generates tab bodies (see http://kodovani.com/bp-bowtie/index.html#tabs)

    - parameter id - tab-body-{id}, must match tab header (tab{id})

    - parameter data_source - the contents of tab body - path("user_tab_edit"...) for example

    - parameter options     - optional (array). Allows you to set tab body's:
      width: {width : 'wide'} or {width : 'narrow'} - optional (narrow is default)
      class: custom classes {class : 'some-class'}
#}
{% macro tab_body(id, data_source, options = {}) %}

    {% set class = '' %}

    {# Separate additional classes from others with a leading space #}
    {% if options.class is defined and not options.class == '' %}
        {% set class = ' ' ~ options.class %}
    {% endif %}

    {# Get width safely from macro parameters (could be undefined and cause problems) #}
    {% if options.width is not defined %}
        {% set width = '' %}
    {% else %}
        {% set width = options.width %}
    {% endif %}

    {% if width == 'wide' %}

        {# Takes up all available space on the page #}
        {% set class = class ~ ' xlarge-24 large-24 medium-24 small-24 mini-24' %}

    {% else %}

        {# Narrow tab body - default #}
        {% set class = class ~ ' box xlarge-16 large-16 medium-24 small-24 mini-24' %}

    {% endif %}


    <div id="{{ id }}"
         class="tab-body{{ class }}"
         data-source="{{ data_source }}">
    </div>
{% endmacro %}

{# Shortcuts: #}

{#
    Create a tab body for forms - narrow

     - parameter class - optional (adds custom classes to tab-body)
#}
{% macro tab_body_form(id, data_source, class = '') %}
    {% import _self as page_items %}
    {{ page_items.tab_body(id, data_source, {width : 'narrow', class : class}) }}
{% endmacro %}

{#
    Create a tab body for grids

    Takes up all available space on the page, no padding around grids
    - parameter class - optional (adds custom classes to tab-body)
#}
{% macro tab_body_grid(id, data_source, class = '') %}
    {% import _self as page_items %}
    {{ page_items.tab_body(id, data_source, {width : 'wide', class: 'tab-grid ' ~ class}) }}
{% endmacro %}