{% extends "form_div_layout.html.twig" %}

{%- block form_start -%}
  {{- parent() -}}
{%- endblock form_start -%}

{%- block form -%}
  {{- parent() -}}
{%- endblock form -%}

{%- block collection_widget -%}
  {% if prototype is defined %}
    {%- set attr = attr|merge({'data-prototype': form_row(prototype) }) -%}
  {% endif %}

  {% if dataOptions is defined %}
    {%- set attr = attr|merge({'data-options': dataOptions }) -%}
  {% endif %}

  {{- block('form_widget') -}}
{%- endblock collection_widget -%}


{%- block collection_row -%}

  {# If you make changes to one of the 3 class lists below, apply these changes to form_layout.html.twig as well. #}
  <div class="row">
    {% block form_row_start %}<div class="form-content-center span-none-padding-mini-23 span-none-padding-small-23 span-none-padding-medium-23 span-large-23 span-xlarge-20 margin-auto">{% endblock form_row_start %}
      <div class="collection">
        {% block form_row_label_start %}<div class="span-none-padding-mini-24 span-none-padding-small-24 span-none-padding-medium-5 span-none-padding-large-6 span-none-padding-xlarge-6 form-left">{% endblock form_row_label_start %}
          {{- form_label(form) -}}
        </div>
        {% block form_row_input_start %}<div class="span-none-padding-mini-24 span-none-padding-small-24 span-none-padding-medium-19 span-none-padding-large-15 span-none-padding-xlarge-14 form-right">{% endblock form_row_input_start %}
          {# collection widgets have only 1 extra class compared to normal widgets #}
          {{- form_widget(form, { 'attr': {'class': 'collection-widget'} }) -}}
        </div>
      </div>
    </div>
  </div>

{%- endblock collection_row -%}


{%- block choice_widget_collapsed -%}
  {%- if required and placeholder is none and not placeholder_in_choices and not multiple -%}
    {% set required = false %}
  {%- endif -%}

  <div class="input-postfix-icon form-select">
    <div class="select-style form-control">
      <select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %}>
        {%- if placeholder is not none -%}
          <option
                  value=""{% if required and value is empty %} selected="selected"{% endif %}>{{ placeholder|trans({}, translation_domain) }}</option>
        {%- endif -%}
        {%- if preferred_choices|length > 0 -%}
          {% set options = preferred_choices %}
          {{- block('choice_widget_options') -}}
          {%- if choices|length > 0 and separator is not none -%}
            <option disabled="disabled">{{ separator }}</option>
          {%- endif -%}
        {%- endif -%}
        {%- set options = choices -%}
        {{- block('choice_widget_options') -}}
      </select>
    </div>
  </div>
{%- endblock choice_widget_collapsed -%}


{%- block button_row -%}
  {{- form_widget(form) -}}
{%- endblock button_row -%}

{%- block button_widget -%}
  {%- if label is empty -%}
    {%- if label_format is not empty -%}
      {% set label = label_format|replace({
      '%name%': name,
      '%id%': id,
      }) %}
    {%- else -%}
      {% set label = name|humanize %}
    {%- endif -%}
  {%- endif -%}

  <div class="submit-button-wrapper">
    {% if type is defined and type == "submit" %}
      <button type="{{ type|default('button') }}" {{ block('button_attributes') }}>{{ translation_domain is same as(false) ? label : label|trans({}, translation_domain) }}</button>
    {% else %}
      <input type="{{ type|default('button') }}" {{ block('button_attributes') }}
             value="{{ label|trans({}, translation_domain) }}"/>
    {% endif %}
  </div>

{%- endblock button_widget -%}

{% block checkbox_widget -%}
  <div class="checkbox">
      {{- parent() -}}
        {# {{ form_label(form) }} for CheckBoxType displays label twice, inside form_label() and form_widget()#}
        {# setting attr => ['disable_widget_label' => true]#}
      {% if attr.disable_widget_label is defined and attr.disable_widget_label %}
        <label for="{{ id }}" ></label>
      {% else %}
          {{ form_label(form) }}
      {% endif %}
  </div>
    {{- form_errors(form) -}}
{%- endblock checkbox_widget %}

{%- block choice_widget_expanded -%}
  <div class="widget-expanded" {{ block('widget_container_attributes') }}>
    {%- for child in form %}
      {{- form_widget(child) -}}
      {{- form_label(child, null, {translation_domain: choice_translation_domain}) -}}
    {% endfor -%}
  </div>
{%- endblock choice_widget_expanded -%}

{%- block form_row -%}

  {% set choice = false %}
  {% for prefix in form.vars.block_prefixes %}
    {% if prefix == 'choice' %}
      {% set choice = true %}
    {% endif %}
  {% endfor %}

  {% set rowClass = "" %}
  {% if form.vars.attr.rowClass is defined %}
    {% set rowClass = form.vars.attr.rowClass %}
  {% endif %}

  <div class="row {% if choice %} choice{% endif %} {{ rowClass }}" id="row_{{ id }}">
    {{ block('form_row_start') }}
      {% set class = "" %}
      {% if form.vars.attr.class is defined %}
        {% set class = form.vars.attr.class %}
      {% endif %}

      {% block form_row_label %}
        {{ block('form_row_label_start') }}
          {% block form_row_label_content %}
            {{- form_label(form) -}}
          {% endblock form_row_label_content %}
        </div>
      {% endblock form_row_label %}

      {% block form_row_input %}
          {{ block('form_row_input_start') }}
          {% for attrname,attrvalue in attr %}
            {% if attrname == 'description' %}
              <span class="description">{{ attrvalue }}</span>{% endif %}
          {% endfor %}
          {% block form_row_input_content %}
            {{- form_widget(form) -}}
          {% endblock form_row_input_content %}
        </div>
      {% endblock form_row_input %}

    </div>
  </div>

    {{- form_errors(form) -}}
{%- endblock form_row -%}




