{% extends "TrinityAdminBundle::layout.html.twig" %}

{% block sidebar %}

    <div class="sidebar-tabs">
        <input name="sidebar-tab" type="radio" id="sidebar-tab1" checked>
        <label class="sidebar-tab-label" for="sidebar-tab1"><i class="trinity trinity-folder"></i></label>

        <input name="sidebar-tab" type="radio" id="sidebar-tab2">
        <label class="sidebar-tab-label" for="sidebar-tab2"><i class="trinity trinity-user"></i></label>

        <input name="sidebar-tab" type="radio" id="sidebar-tab3">
        <label class="sidebar-tab-label" for="sidebar-tab3">
            <i class="trinity trinity-bell"></i>
            {% set redis= app.user.getId() %}
            {% set response = redis|getSidebarMsgs %}
            {% set messages = response[0] %}
            {% set countNew = response[1] %}
            {% if countNew != 0 %}
                <i class="number-info">

                    {{ countNew }}
                </i>
            {% endif %}
        </label>

        <div id="sidebar-tab1-content" class="sidebar-tab-content">
            <div id="sidebar-tab1-body">
                {{ knp_menu_render('sidebar', {"currentClass": "active", "template" : "TrinityAdminBundle::kmp_menu.html.twig"}) }}
            </div>
        </div>

        <div id="sidebar-tab2-content" class="sidebar-tab-content">
            {% block sidebar_user %}

            {% endblock %}
        </div>

        <div id="sidebar-tab3-content" class="sidebar-tab-content">
            {% block FlashbagHistory %}
                {% set count=0 %}

                {% for msg in messages %}
                    {% set temp = msg|split(';;') %}
                    {% set type = temp[0] %}
                    {% set message = temp[1] %}
                    {% set path = temp[2] %}
                    {% set new = countNew %}

                    {% if countNew > 0 %}
                        <span>NEW!</span>
                        {% set countNew=countNew-1 %}
                    {% endif %}
                    <ul class="tab-list list-rows">

                        {% if type == "success" %}
                            <li class="success new">
                                <i class="tiecons tiecons-info-circle"></i>
                                {% if path == ";" %}
                                    <span>{{ message }}</span>
                                {% else %}
                                    {% set tmp= path|split(';') %}
                                    {% set route = tmp[0] %}
                                    {% set params = tmp[1]|json_decode %}
                                    <a href="{{ path(route, params) }}"><span>{{ message }}</span></a>
                                {% endif %}
                            </li>
                        {% elseif type == "warning" %}
                            <li class="warning new">
                                <i class="tiecons tiecons-exclamation-mark-circle"></i>
                                {% if path == ";" %}
                                    <span>{{ message }}</span>
                                {% else %}
                                    {% set tmp= path|split(';') %}
                                    {% set route = tmp[0] %}
                                    {% set params = tmp[1]|json_decode %}
                                    <a href="{{ path(route, params) }}"><span>{{ message }}</span></a>
                                {% endif %}
                            </li>
                        {% elseif type == "danger" %}
                            <li class="danger new">
                                <i class="tiecons tiecons-exclamation-mark-triangle"></i>
                                {% if path == ";" %}
                                    <span>{{ message }}</span>
                                {% else %}
                                    {% set tmp= path|split(';') %}
                                    {% set route = tmp[0] %}
                                    {% set params = tmp[1]|json_decode %}
                                    <a href="{{ path(route, params) }}"><span>{{ message }}</span></a>
                                {% endif %}
                            </li>
                        {% elseif type == "info" %}
                            <li class="info new">
                                <i class="tiecons tiecons-info-circle"></i>
                                {% if path == ";" %}
                                    <span>{{ message }}</span>
                                {% else %}
                                    {% set tmp= path|split(';') %}
                                    {% set route = tmp[0] %}
                                    {% set params = tmp[1]|json_decode %}
                                    <a href="{{ path(route, params) }}"><span>{{ message }}</span></a>
                                {% endif %}
                            </li>
                        {% endif %}
                    </ul>
                    {% set count = count+1 %}

                    {% if countNew == 0 and new !=0 %}
                        {% set countNew = -1 %}<br>
                    {% endif %}
                {% endfor %}

                {% if count==0 %}
                    <ul class="tab-list list-rows">
                        <li class="info noaction">
                            <i class="tiecons tiecons-info-circle"></i>
                            <span>You don't have any new notification.</span>
                        </li>
                    </ul>
                {% endif %}

            {% endblock %}

        </div>
    </div>

{% endblock %}
{# sidebar #}