{% extends "TrinityAdminBundle::layout.html.twig" %}

{% block sidebar %}

    <div class="sidebar-tabs">
        <input name="sidebar-tab" type="radio" id="sidebar-tab1" checked>
        <label class="sidebar-tab-label" for="sidebar-tab1"><i class="trinity trinity-folder"></i></label>

        <input name="sidebar-tab" type="radio" id="sidebar-tab2">
        <label class="sidebar-tab-label" for="sidebar-tab2"><i class="trinity trinity-user"></i></label>

        <input name="sidebar-tab" type="radio" id="sidebar-tab3">
        <label class="sidebar-tab-label" for="sidebar-tab3">
            <i class="trinity trinity-bell"></i>
            {% set redis= app.user.getId() %}
            {% set response = redis|getSidebarMsgs %}
            {% set messages = response[0] %}
            {% set users = response[1] %}
            {% set times = response[2] %}
            {% set countNew = response[3] %}
            {% set message_keys = response[4] %}

            {% if countNew != 0 %}
                <i class="number-info">

                    {{ countNew }}
                </i>
            {% endif %}
        </label>

        <div id="sidebar-tab1-content" class="sidebar-tab-content">
            {% cache 'v1/summary' {time: 300} %}
            <div id="sidebar-tab1-body">
                {{ knp_menu_render('sidebar', {"currentClass": "active", "template" : "TrinityAdminBundle::kmp_menu.html.twig"}) }}
            </div>
            {% endcache %}
        </div>

        <div id="sidebar-tab2-content" class="sidebar-tab-content">
            {% block sidebar_user %}

            {% endblock %}
        </div>

        <div id="sidebar-tab3-content" class="sidebar-tab-content">
            {% block FlashbagHistory %}
                {% if is_granted("ROLE_ADMIN_SIDEBAR_MSG_REMOVE") %}
                    {% if "ajax_remove-redis-msg"|routeExists %}
                        <input type="hidden" id="api-remove-redis-msg" value="{{ path("ajax_remove-redis-msg") }}"/>
                    {% endif %}
                {% endif %}
                {% set count=0 %}
                <div id="container1">
                    <ul id=redis-list class="tab-list list-rows">
                        {% for msg in messages %}
                            {% set temp = msg|split(';;') %}
                            {% set type = temp[0] %}
                            {% set message = temp[1] %}
                            {% set path = temp[2] %}
                            {% set new = countNew %}
                            {% if type == "success" %}
                                {% if countNew > 0 %}
                                    <li class="success new">
                                    {% set countNew=countNew-1 %}
                                {% else %}
                                    <li class="success">
                                {% endif %}
                                <i class="tiecons tiecons-info-circle"></i>
                                {% if path == ";" %}
                                    <div class="message-group">
                                        <span>
                                            {{ message }}
                                        </span>
                                    </div>
                                    {% if is_granted("ROLE_ADMIN_SIDEBAR_MSG_REMOVE") %}
                                        <a id="sidebar_remove_btn_{{ count }}"href="#">
                                            <input type="hidden" value="{{ message_keys[count]}}"/>
                                            <i class="trinity-close"></i>
                                        </a>
                                    {% endif %}
                                    <div class="detail-info">{% if users[count] != "" %}{{ users[count] }} | {% endif %} {{ times[count] }}</div>
                                {% else %}
                                    {% set tmp= path|split(';') %}
                                    {% set route = tmp[0] %}
                                    {% set params = tmp[1]|json_decode %}
                                    <div class="message-group">
                                        <span>
                                            <a href="{{ path(route, params) }}">
                                                {{ message }}
                                            </a>
                                        </span>
                                    </div>
                                    {% if is_granted("ROLE_ADMIN_SIDEBAR_MSG_REMOVE") %}
                                        <a id="sidebar_remove_btn_{{ count }}"href="#">
                                            <input type="hidden" value="{{ message_keys[count]}}"/>
                                            <i class="trinity-close"></i>
                                        </a>
                                    {% endif %}
                                    <div class="detail-info">{% if users[count] != "" %}{{ users[count] }} | {% endif %} {{ times[count] }}</div>
                                {% endif %}
                                </li>
                            {% elseif type == "warning" %}
                                {% if countNew > 0 %}
                                    <li class="warning new">
                                    {% set countNew=countNew-1 %}
                                {% else %}
                                    <li class="warning">
                                {% endif %}
                                <i class="tiecons tiecons-exclamation-mark-circle"></i>
                                {% if path == ";" %}
                                    <div class="message-group">
                                        <span>
                                            {{ message }}
                                        </span>
                                    </div>
                                    {% if is_granted("ROLE_ADMIN_SIDEBAR_MSG_REMOVE") %}
                                        <a id="sidebar_remove_btn_{{ count }}"href="#">
                                            <input type="hidden" value="{{ message_keys[count]}}"/>
                                            <i class="trinity-close"></i>
                                        </a>
                                    {% endif %}
                                    <div class="detail-info">{% if users[count] != "" %}{{ users[count] }} | {% endif %} {{ times[count] }}</div>
                                {% else %}
                                    {% set tmp= path|split(';') %}
                                    {% set route = tmp[0] %}
                                    {% set params = tmp[1]|json_decode %}
                                    <div class="message-group">
                                        <span>
                                            <a href="{{ path(route, params) }}">
                                                {{ message }}
                                            </a>
                                        </span>
                                    </div>
                                    {% if is_granted("ROLE_ADMIN_SIDEBAR_MSG_REMOVE") %}
                                        <a id="sidebar_remove_btn_{{ count }}"href="#">
                                            <input type="hidden" value="{{ message_keys[count]}}"/>
                                            <i class="trinity-close"></i>
                                        </a>
                                    {% endif %}
                                    <div class="detail-info">{% if users[count] != "" %}{{ users[count] }} | {% endif %} {{ times[count] }}</div>
                                {% endif %}
                                </li>
                            {% elseif type == "danger" %}
                                {% if countNew > 0 %}
                                    <li class="danger new">
                                    {% set countNew=countNew-1 %}
                                {% else %}
                                    <li class="danger">
                                {% endif %}
                                <i class="tiecons tiecons-exclamation-mark-triangle"></i>
                                {% if path == ";" %}
                                    <div class="message-group">
                                        <span>
                                            {{ message }}
                                        </span>
                                    </div>
                                    {% if is_granted("ROLE_ADMIN_SIDEBAR_MSG_REMOVE") %}
                                        <a id="sidebar_remove_btn_{{ count }}"href="#">
                                            <input type="hidden" value="{{ message_keys[count]}}"/>
                                            <i class="trinity-close"></i>
                                        </a>
                                    {% endif %}
                                    <div class="detail-info">{% if users[count] != "" %}{{ users[count] }} | {% endif %} {{ times[count] }}</div>
                                {% else %}
                                    {% set tmp= path|split(';') %}
                                    {% set route = tmp[0] %}
                                    {% set params = tmp[1]|json_decode %}
                                    <div class="message-group">
                                        <span>
                                            <a href="{{ path(route, params) }}">
                                                {{ message }}
                                            </a>
                                        </span>
                                    </div>
                                    {% if is_granted("ROLE_ADMIN_SIDEBAR_MSG_REMOVE") %}
                                        <a id="sidebar_remove_btn_{{ count }}"href="#">
                                            <input type="hidden" value="{{ message_keys[count]}}"/>
                                            <i class="trinity-close"></i>
                                        </a>
                                    {% endif %}
                                    <div class="detail-info">{% if users[count] != "" %}{{ users[count] }} | {% endif %} {{ times[count] }}</div>
                                {% endif %}
                                </li>
                            {% elseif type == "info" %}
                                {% if countNew > 0 %}
                                    <li class="info new">
                                    {% set countNew=countNew-1 %}
                                {% else %}
                                    <li class="info">
                                {% endif %}
                                <i class="tiecons tiecons-info-circle"></i>
                                {% if path == ";" %}
                                    <div class="message-group">
                                        <span>
                                            {{ message }}
                                        </span>
                                    </div>
                                    {% if is_granted("ROLE_ADMIN_SIDEBAR_MSG_REMOVE") %}
                                        <a id="sidebar_remove_btn_{{ count }}"href="#">
                                            <input type="hidden" value="{{ message_keys[count]}}"/>
                                            <i class="trinity-close"></i>
                                        </a>
                                    {% endif %}
                                    <div class="detail-info">{% if users[count] != "" %}{{ users[count] }} | {% endif %} {{ times[count] }}</div>
                                {% else %}
                                    {% set tmp= path|split(';') %}
                                    {% set route = tmp[0] %}
                                    {% set params = tmp[1]|json_decode %}
                                    <div class="message-group">
                                        <span>
                                            <a href="{{ path(route, params) }}">
                                                {{ message }}
                                            </a>
                                        </span>
                                    </div>
                                    {% if is_granted("ROLE_ADMIN_SIDEBAR_MSG_REMOVE") %}
                                        <a id="sidebar_remove_btn_{{ count }}"href="#">
                                            <input type="hidden" value="{{ message_keys[count]}}"/>
                                            <i class="trinity-close"></i>
                                        </a>
                                    {% endif %}
                                    <div class="detail-info">{% if users[count] != "" %}{{ users[count] }} | {% endif %} {{ times[count] }}</div>
                                {% endif %}

                                </li>
                            {% endif %}

                            {% set count = count+1 %}

                            {% if countNew == 0 and new !=0 %}
                                {% set countNew = -1 %}
                            {% endif %}
                        {% endfor %}

                        {% if count==0 %}
                            <li class="info noaction">
                                <i class="tiecons tiecons-info-circle"></i>
                                <div class="message-group">
                                    <span>You don't have any new notification.</span>
                                </div>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            {% endblock %}
        </div>
    </div>

{% endblock %}
{# sidebar #}