{% extends "TrinityAdminBundle::layout.html.twig" %}

{% block sidebar %}

    <div class="sidebar-tabs">
        <input name="sidebar-tab" type="radio" id="sidebar-tab1" checked>
        <label class="sidebar-tab-label" for="sidebar-tab1"><i class="trinity trinity-folder"></i></label>

        <input name="sidebar-tab" type="radio" id="sidebar-tab2">
        <label class="sidebar-tab-label" for="sidebar-tab2"><i class="trinity trinity-user"></i></label>

        <input name="sidebar-tab" type="radio" id="sidebar-tab3">
        <label class="sidebar-tab-label" for="sidebar-tab3">
            <i class="trinity trinity-bell"></i>
            {% set redis= app.user.getId() %}
            {% set response = redis|getSidebarMsgs %}
            {% set messages = response[0] %}
            {% set users = response[1] %}
            {% set times = response[2] %}
            {% set countNew = response[3] %}

            {% if countNew != 0 %}
                <i class="number-info">

                    {{ countNew }}
                </i>
            {% endif %}
        </label>

        <div id="sidebar-tab1-content" class="sidebar-tab-content">
            <div id="sidebar-tab1-body">
                {{ knp_menu_render('sidebar', {"currentClass": "active", "template" : "TrinityAdminBundle::kmp_menu.html.twig"}) }}
            </div>
        </div>

        <div id="sidebar-tab2-content" class="sidebar-tab-content">
            {% block sidebar_user %}

            {% endblock %}
        </div>

        <div id="sidebar-tab3-content" class="sidebar-tab-content">
            {% block FlashbagHistory %}
                {% set count=0 %}
                <ul class="tab-list list-rows">
                    <div id="container1">
                        <div id="container2">
                {% for msg in messages %}
                    {% set temp = msg|split(';;') %}
                    {% set type = temp[0] %}
                    {% set message = temp[1] %}
                    {% set path = temp[2] %}
                    {% set new = countNew %}
                        {% if type == "success" %}
                            {% if countNew > 0 %}
                                <li class="success new">
                                {% set countNew=countNew-1 %}
                            {% else %}
                                <li class="success">
                            {% endif %}
                                    <i class="tiecons tiecons-info-circle"></i>
                                    {% if path == ";" %}
                                        {{ message }}
                                        <span class="marque">{{ message }}</span>
                                        <marquee behavior="scroll"  direction="left" scrollamount="0"  onMouseOver="this.setAttribute('scrollamount', 6, 0);"  onmouseout="this.scrollAmount = 6" onmouseout="this.scrollAmount = 0">{{ message }}</marquee>
                                        <span class="detail-info">{% if users[count] != "" %}{{ users[count] }} | {% endif %} {{ times[count] }}</span>
                                        {# @TODO Set for this link function to remove notification #}
                                        <a href="#" id="">
                                            <i class="trinity-close"></i>
                                        </a>
                                    {% else %}
                                        {% set tmp= path|split(';') %}
                                        {% set route = tmp[0] %}
                                        {% set params = tmp[1]|json_decode %}
                                        <a href="{{ path(route, params) }}">
                                            <span class="marque">{{ message }}</span>
                                            <marquee behavior="scroll"  direction="left" scrollamount="0"  onMouseOver="this.setAttribute('scrollamount', 6, 0);"  onmouseout="this.scrollAmount = 6" onmouseout="this.scrollAmount = 0">{{ message }}</marquee>
                                            <span class="detail-info">{% if users[count] != "" %}{{ users[count] }} | {% endif %} {{ times[count] }}</span>
                                        </a>
                                        {# and for this icon#}
                                        <a href="#" id="">
                                            <i class="trinity-close"></i>
                                        </a>
                                    {% endif %}
                                </li>
                        {% elseif type == "warning" %}
                            {% if countNew > 0 %}
                                <li class="warning new">
                               {% set countNew=countNew-1 %}
                            {% else %}
                                <li class="warning">
                            {% endif %}
                                    <i class="tiecons tiecons-exclamation-mark-circle"></i>
                                    {% if path == ";" %}
                                        <span class="marque">{{ message }}</span>
                                        <marquee behavior="scroll"  direction="left" scrollamount="0"  onMouseOver="this.setAttribute('scrollamount', 6, 0);"  onmouseout="this.scrollAmount = 6" onmouseout="this.scrollAmount = 0">{{ message }}</marquee>
                                        <span class="detail-info">{% if users[count] != "" %}{{ users[count] }} | {% endif %} {{ times[count] }}</span>
                                        {# and this icon #}
                                        <a href="#" id="">
                                            <i class="trinity-close"></i>
                                        </a>
                                    {% else %}
                                        {% set tmp= path|split(';') %}
                                        {% set route = tmp[0] %}
                                        {% set params = tmp[1]|json_decode %}
                                        <a href="{{ path(route, params) }}">
                                            <span class="marque">{{ message }}</span>
                                            <marquee behavior="scroll"  direction="left" scrollamount="0"  onMouseOver="this.setAttribute('scrollamount', 6, 0);"  onmouseout="this.scrollAmount = 6" onmouseout="this.scrollAmount = 0">{{ message }}</marquee>
                                            <span class="detail-info">{% if users[count] != "" %}{{ users[count] }} | {% endif %} {{ times[count] }}</span>
                                        </a>
                                        {# and this #}
                                        <a href="#" id="">
                                            <i class="trinity-close"></i>
                                        </a>
                                    {% endif %}
                                </li>
                        {% elseif type == "danger" %}
                            {% if countNew > 0 %}
                                <li class="danger new">
                               {% set countNew=countNew-1 %}
                            {% else %}
                                <li class="danger">
                            {% endif %}
                                    <i class="tiecons tiecons-exclamation-mark-triangle"></i>
                                    {% if path == ";" %}
                                        <span class="marque">{{ message }}</span>
                                        <marquee behavior="scroll"  direction="left" scrollamount="0"  onMouseOver="this.setAttribute('scrollamount', 6, 0);"  onmouseout="this.scrollAmount = 6" onmouseout="this.scrollAmount = 0">{{ message }}</marquee>
                                        <span class="detail-info">{% if users[count] != "" %}{{ users[count] }} | {% endif %} {{ times[count] }}</span>
                                        {# and this#}
                                        <a href="#" id="">
                                            <i class="trinity-close"></i>
                                        </a>
                                    {% else %}
                                        {% set tmp= path|split(';') %}
                                        {% set route = tmp[0] %}
                                        {% set params = tmp[1]|json_decode %}
                                        <a href="{{ path(route, params) }}">
                                            <span class="marque">{{ message }}</span>
                                            <marquee behavior="scroll"  direction="left" scrollamount="0"  onMouseOver="this.setAttribute('scrollamount', 6, 0);"  onmouseout="this.scrollAmount = 6" onmouseout="this.scrollAmount = 0">{{ message }}</marquee>
                                            <span class="detail-info">{% if users[count] != "" %}{{ users[count] }} | {% endif %} {{ times[count] }}</span>
                                        </a>
                                        {# and here #}
                                        <a href="#" id="">
                                            <i class="trinity-close"></i>
                                        </a>
                                    {% endif %}
                                </li>
                        {% elseif type == "info" %}
                            {% if countNew > 0 %}
                                <li class="info new">
                               {% set countNew=countNew-1 %}
                            {% else %}
                                <li class="info">
                            {% endif %}
                                    <i class="tiecons tiecons-info-circle"></i>
                                    {% if path == ";" %}
                                        <span class="marque">{{ message }}</span>
                                        <marquee behavior="scroll"  direction="left" scrollamount="0"  onMouseOver="this.setAttribute('scrollamount', 6, 0);"  onmouseout="this.scrollAmount = 6" onmouseout="this.scrollAmount = 0">{{ message }}</marquee>
                                        <span class="detail-info">{% if users[count] != "" %}{{ users[count] }} | {% endif %} {{ times[count] }}</span>
                                        {# yea it looks like the last one #}
                                        <a href="#" id="">
                                            <i class="trinity-close"></i>
                                        </a>
                                    {% else %}
                                        {% set tmp= path|split(';') %}
                                        {% set route = tmp[0] %}
                                        {% set params = tmp[1]|json_decode %}
                                        <a href="{{ path(route, params) }}">
                                            <span class="marque">{{ message }}</span>
                                            <marquee behavior="scroll"  direction="left" scrollamount="0"  onMouseOver="this.setAttribute('scrollamount', 6, 0);"  onmouseout="this.scrollAmount = 6" onmouseout="this.scrollAmount = 0">{{ message }}</marquee>
                                            <span class="detail-info">{% if users[count] != "" %}{{ users[count] }} | {% endif %} {{ times[count] }}</span>
                                        </a>
                                        {# but this should be the last :D #}
                                        <a href="#" id="">
                                            <i class="trinity-close"></i>
                                        </a>
                                    {% endif %}
                                </li>
                        {% endif %}

                    {% if countNew == 0 and new !=0 %}
                        {% set countNew = -1 %}
                    {% endif %}
                {% endfor %}
                    </div>
                    </div>

                {% if count-1==0 %}
                        <li class="info noaction">
                            <i class="tiecons tiecons-info-circle"></i>
                            <span class="marque">You don't have any new notification.</span>
                            <marquee behavior="scroll"  direction="left" scrollamount="0"  onMouseOver="this.setAttribute('scrollamount', 6, 0);"
                                     onmouseout="this.scrollAmount = 6" onmouseout="this.scrollAmount = 0">You don't have any new notification.</marquee>
                        </li>
                {% endif %}
                </ul>
            {% endblock %}

        </div>
    </div>

{% endblock %}
{# sidebar #}