{% extends "TrinityAdminBundle::layout.html.twig" %}

{% block navbar %}

    <input name="lol" type="radio" id="user-profile-input" class="navbar-item-input">
    <input name="lol" type="radio" id="notifications-input" class="navbar-item-input">
{#    <input name="dropdown" type="checkbox" id="dropdown-input" class="navbar-item-input">#}


    <nav class="navbar row">

        <div class="navbar-container">
            <div>
                loading
            </div>
            <div class="navbar-logo pull-left">
                {% block navbar_logo %} <i> Logo zde </i> {% endblock %}
                <span class="version">{{ admin_manager.getAppVersion() }}</span>
            </div>
            <div >
                <span id="header-for-nonvisible"></span>
            </div>
            <div class="pull-right navbar-actions">

                {% block navbar_search %}
                    <div class="navbar-search navbar-actions-item">
                        {% block navbar_seach_form_start %}
                        <form action="{% block search_action %}{% endblock %}" autocomplete="on">
                            {% endblock %}
                            <label for="search">
                                <input  placeholder="Search..." class="navbar-search-input" type="text" name="search" id="search">
                                <button type="submit">
                                    <i class="trinity trinity-search"></i>
                                </button>
                            </label>
                            {% block navbar_search_form_end %}
                        </form>
                        {% endblock %}
                    </div>
                {% endblock %}

                {% block navbar_actions %}
                {% endblock %}

                <label class="navbar-item-label" for="notifications-input" id="notifications-label">
                    <i class="trinity trinity-bell"></i>
                    {% set redis= app.user.getId() %}
                    {% set response = redis|getSidebarMsgs %}
                    {% set messages = response[0] %}
                    {% set users = response[1] %}
                    {% set times = response[2] %}
                    {% set countNew = response[3] %}
                    {% set message_keys = response[4] %}

                    {% if countNew != 0 %}
                        <i class="number-info">
                            {{ countNew }}
                        </i>
                    {% endif %}
                </label>

                <label class="navbar-item-label" for="user-profile-input" id="user-profile-label">
                    <i class="trinity trinity-user"></i>
                </label>

{#                <label class="navbar-item-label" for="dropdown-input" id="dropdown-label">
                    <i class="trinity trinity-select-down"></i>
                </label>#}

                {% block navbar_logout %}
                    <a class="navbar-actions-item size-2" title="Logout me" href="{{ path("fos_user_security_logout") }}">
                        <div class="navbar-actions-item-center">
                            <span class="pull-left margin-right-5 font-14">Logout</span>
                            <i class="trinity trinity-logout"></i>
                        </div>
                    </a>
                {% endblock %}

            </div>

        </div>
    </nav>


    {# Navbar popups - profile, notifications #}

    <div class="user-profile-info">
        <div class="navbar-popup">
            <h1 class="headline">User profile</h1>
            {% block sidebar_user %}
            {% endblock %}
        </div>
    </div>

    <div class="notifications">
        <div class="navbar-popup">
            <h1 class="headline">Notifications</h1>
            {% block FlashbagHistory %}
                {% if is_granted("ROLE_ADMIN_SIDEBAR_MSG_REMOVE") %}
                    {% if "ajax_remove-redis-msg"|routeExists %}
                        <input type="hidden" id="api-remove-redis-msg" value="{{ path("ajax_remove-redis-msg") }}"/>
                    {% endif %}
                {% endif %}
                {% set count=0 %}
                <div id="container1">
                    <ul id=redis-list class="tab-list list-rows">
                        {% for msg in messages %}
                            {% set temp = msg|split(';;') %}
                            {% set type = temp[0] %}
                            {% set message = temp[1] %}
                            {% set path = temp[2] %}
                            {% set new = countNew %}
                            {% if type == "success" %}
                                {% if countNew > 0 %}
                                    <li class="success new">
                                    {% set countNew=countNew-1 %}
                                {% else %}
                                    <li class="success">
                                {% endif %}
                                <i class="tiecons tiecons-info-circle"></i>
                                {% if path == ";" %}
                                    <div class="message-group">
                                                <span>
                                                    {{ message }}
                                                </span>
                                    </div>
                                    {% if is_granted("ROLE_ADMIN_SIDEBAR_MSG_REMOVE") %}
                                        <a id="sidebar_remove_btn_{{ count }}"href="#">
                                            <input type="hidden" value="{{ message_keys[count]}}"/>
                                            <i class="trinity-close"></i>
                                        </a>
                                    {% endif %}
                                    <div class="detail-info">{% if users[count] != "" %}{{ users[count] }} | {% endif %} {{ times[count] }}</div>
                                {% else %}
                                    {% set tmp= path|split(';') %}
                                    {% set route = tmp[0] %}
                                    {% set params = tmp[1]|json_decode %}
                                    <div class="message-group">
                                                <span>
                                                    <a href="{{ path(route, params) }}">
                                                        {{ message }}
                                                    </a>
                                                </span>
                                    </div>
                                    {% if is_granted("ROLE_ADMIN_SIDEBAR_MSG_REMOVE") %}
                                        <a id="sidebar_remove_btn_{{ count }}"href="#">
                                            <input type="hidden" value="{{ message_keys[count]}}"/>
                                            <i class="trinity-close"></i>
                                        </a>
                                    {% endif %}
                                    <div class="detail-info">{% if users[count] != "" %}{{ users[count] }} | {% endif %} {{ times[count] }}</div>
                                {% endif %}
                                </li>
                            {% elseif type == "warning" %}
                                {% if countNew > 0 %}
                                    <li class="warning new">
                                    {% set countNew=countNew-1 %}
                                {% else %}
                                    <li class="warning">
                                {% endif %}
                                <i class="tiecons tiecons-exclamation-mark-circle"></i>
                                {% if path == ";" %}
                                    <div class="message-group">
                                                <span>
                                                    {{ message }}
                                                </span>
                                    </div>
                                    {% if is_granted("ROLE_ADMIN_SIDEBAR_MSG_REMOVE") %}
                                        <a id="sidebar_remove_btn_{{ count }}"href="#">
                                            <input type="hidden" value="{{ message_keys[count]}}"/>
                                            <i class="trinity-close"></i>
                                        </a>
                                    {% endif %}
                                    <div class="detail-info">{% if users[count] != "" %}{{ users[count] }} | {% endif %} {{ times[count] }}</div>
                                {% else %}
                                    {% set tmp= path|split(';') %}
                                    {% set route = tmp[0] %}
                                    {% set params = tmp[1]|json_decode %}
                                    <div class="message-group">
                                                <span>
                                                    <a href="{{ path(route, params) }}">
                                                        {{ message }}
                                                    </a>
                                                </span>
                                    </div>
                                    {% if is_granted("ROLE_ADMIN_SIDEBAR_MSG_REMOVE") %}
                                        <a id="sidebar_remove_btn_{{ count }}"href="#">
                                            <input type="hidden" value="{{ message_keys[count]}}"/>
                                            <i class="trinity-close"></i>
                                        </a>
                                    {% endif %}
                                    <div class="detail-info">{% if users[count] != "" %}{{ users[count] }} | {% endif %} {{ times[count] }}</div>
                                {% endif %}
                                </li>
                            {% elseif type == "danger" %}
                                {% if countNew > 0 %}
                                    <li class="danger new">
                                    {% set countNew=countNew-1 %}
                                {% else %}
                                    <li class="danger">
                                {% endif %}
                                <i class="tiecons tiecons-exclamation-mark-triangle"></i>
                                {% if path == ";" %}
                                    <div class="message-group">
                                                <span>
                                                    {{ message }}
                                                </span>
                                    </div>
                                    {% if is_granted("ROLE_ADMIN_SIDEBAR_MSG_REMOVE") %}
                                        <a id="sidebar_remove_btn_{{ count }}"href="#">
                                            <input type="hidden" value="{{ message_keys[count]}}"/>
                                            <i class="trinity-close"></i>
                                        </a>
                                    {% endif %}
                                    <div class="detail-info">{% if users[count] != "" %}{{ users[count] }} | {% endif %} {{ times[count] }}</div>
                                {% else %}
                                    {% set tmp= path|split(';') %}
                                    {% set route = tmp[0] %}
                                    {% set params = tmp[1]|json_decode %}
                                    <div class="message-group">
                                                <span>
                                                    <a href="{{ path(route, params) }}">
                                                        {{ message }}
                                                    </a>
                                                </span>
                                    </div>
                                    {% if is_granted("ROLE_ADMIN_SIDEBAR_MSG_REMOVE") %}
                                        <a id="sidebar_remove_btn_{{ count }}"href="#">
                                            <input type="hidden" value="{{ message_keys[count]}}"/>
                                            <i class="trinity-close"></i>
                                        </a>
                                    {% endif %}
                                    <div class="detail-info">{% if users[count] != "" %}{{ users[count] }} | {% endif %} {{ times[count] }}</div>
                                {% endif %}
                                </li>
                            {% elseif type == "info" %}
                                {% if countNew > 0 %}
                                    <li class="info new">
                                    {% set countNew=countNew-1 %}
                                {% else %}
                                    <li class="info">
                                {% endif %}
                                <i class="tiecons tiecons-info-circle"></i>
                                {% if path == ";" %}
                                    <div class="message-group">
                                                <span>
                                                    {{ message }}
                                                </span>
                                    </div>
                                    {% if is_granted("ROLE_ADMIN_SIDEBAR_MSG_REMOVE") %}
                                        <a id="sidebar_remove_btn_{{ count }}"href="#">
                                            <input type="hidden" value="{{ message_keys[count]}}"/>
                                            <i class="trinity-close"></i>
                                        </a>
                                    {% endif %}
                                    <div class="detail-info">{% if users[count] != "" %}{{ users[count] }} | {% endif %} {{ times[count] }}</div>
                                {% else %}
                                    {% set tmp= path|split(';') %}
                                    {% set route = tmp[0] %}
                                    {% set params = tmp[1]|json_decode %}
                                    <div class="message-group">
                                                <span>
                                                    <a href="{{ path(route, params) }}">
                                                        {{ message }}
                                                    </a>
                                                </span>
                                    </div>
                                    {% if is_granted("ROLE_ADMIN_SIDEBAR_MSG_REMOVE") %}
                                        <a id="sidebar_remove_btn_{{ count }}"href="#">
                                            <input type="hidden" value="{{ message_keys[count]}}"/>
                                            <i class="trinity-close"></i>
                                        </a>
                                    {% endif %}
                                    <div class="detail-info">{% if users[count] != "" %}{{ users[count] }} | {% endif %} {{ times[count] }}</div>
                                {% endif %}

                                </li>
                            {% endif %}

                            {% set count = count+1 %}

                            {% if countNew == 0 and new !=0 %}
                                {% set countNew = -1 %}
                            {% endif %}
                        {% endfor %}

                        {% if count==0 %}
                            <li class="info noaction">
                                <i class="tiecons tiecons-info-circle"></i>
                                <div class="message-group">
                                    <span>You don't have any new notification.</span>
                                </div>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            {% endblock %}
        </div>
    </div>

   {# <div class="dropdown">
        <div class="navbar-popup">
            #}{#<h1 class="headline">User profile</h1>#}{#
            {% block navbar_logout %}
                <a class="navbar-actions-item size-2" title="Logout me" href="{{ path("fos_user_security_logout") }}">
                    <div class="navbar-actions-item-center">
                        <span class="pull-left margin-right-5 font-14">Logout</span>
                        <i class="trinity trinity-logout"></i>
                    </div>
                </a>
            {% endblock %}
        </div>
    </div>#}

{% endblock %}

{% block sidebar %}

    <div class="sidebar-tabs">

        <div id="sidebar-tab1-content" class="sidebar-tab-content">
            <div id="sidebar-tab1-body">
                {{ knp_menu_render('sidebar', {"currentClass": "active", "template" : "TrinityAdminBundle::kmp_menu.html.twig"}) }}
            </div>
        </div>

    </div>

{% endblock %}