{% extends "TrinityAdminBundle::layout.html.twig" %}

{% block navbar %}

    {# Inputs are as toggle, don't move them from top #}
    <input name="navbar-items" type="radio" id="user-profile-input" class="navbar-item-input">
    <input name="navbar-items" type="radio" id="notifications-input" class="navbar-item-input">
    {#<input name="navbar-items" type="radio" id="settings-input" class="navbar-item-input">#}
   {# <input name="navbar-items" type="radio" id="quick-links-input" class="navbar-item-input">#}

    <nav class="navbar row">

        <div class="navbar-logo">
            {% block navbar_logo %} <i> Logo zde </i> {% endblock %}
            <span class="version">{{ admin_manager.getAppVersion() }}</span>
        </div>

        <div class="navbar-container">

            <div>
                loading
            </div>


            {#Headline on scroll in navbar #}
            <div id="header-for-nonvisible">
                <div id="scroll-header"></div>
            </div>

            {% block navbar_search %}
                <div class="navbar-search navbar-actions-item">
                    {% block navbar_seach_form_start %}
                    <form action="{% block search_action %}{% endblock %}" autocomplete="on">
                        {% endblock %}
                        <label for="search">
                            <input placeholder="Type your text here…" class="navbar-search-input" type="text" name="search"
                                   id="search">
                            <button type="submit">
                                <i class="trinity trinity-search"></i>
                            </button>
                        </label>
                        {% block navbar_search_form_end %}
                    </form>
                    {% endblock %}
                </div>
            {% endblock %}

            {# Navbar labels for popus #}
            <div class="pull-right navbar-actions">

                {% block navbar_actions %}
                {% endblock %}

                <label class="navbar-item-label" for="notifications-input" id="notifications-label" title="Notifications">
                    <i class="trinity trinity-bell"></i>
                    {% set redis= app.user.getId() %}
                    {% set response = redis|getBarMsgs %}
                    {% set messages = response[0] %}
                    {% set users = response[1] %}
                    {% set times = response[2] %}
                    {% set countNew = response[3] %}
                    {% set message_keys = response[4] %}

                    {% if countNew != 0 %}
                        <i class="number-info">
                            {{ countNew }}
                        </i>
                    {% endif %}
                </label>


                {#{% block settings_link %}#}
                    {#<a href="#" title="Go to settings">#}
                        {#<label class="navbar-item-label" for="settings-input" id="settings-label">#}
                            {#<i class="trinity-settings"></i>#}
                        {#</label>#}
                    {#</a>#}
                {#{% endblock %}#}


                <label class="navbar-item-label" for="user-profile-input" id="user-profile-label" title="User profile">
                    {% block user_label %}
                    {% endblock %}
                </label>

{#                <div class="navbar-right-items">
                    <div class="item">
                        <a title="Logout me" href="{{ path("fos_user_security_logout") }}">
                            <i class="tiecons tiecons-power-button"></i>
                        </a>
                    </div>


                    <div class="item">
                        <label class="display-inline-block pointer" for="quick-links-input" id="quick-links-label" title="Quick links">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </label>
                    </div>
                </div>#}


            </div>

        </div>
    </nav>

    {# Navbar popups - profile, notifications #}
{#    <div class="quick-links">
        {% block quick_links %}
        {% endblock %}
    </div>#}

    {# Navbar popups - profile, notifications #}
    <div class="user-profile-info">
        <div class="navbar-popup">
            {#<h1 class="headline">User profile</h1>#}
            {% block sidebar_user %}
            {% endblock %}
        </div>
    </div>

    {# Don't look there, we know it's messy... #}
    <div class="notifications">
        <div class="navbar-popup">
            <h1 class="headline">Notifications</h1>
            {% block FlashbagHistory %}
                {% if is_granted("ROLE_ADMIN_SIDEBAR_MSG_REMOVE") %}
                    {% if "admin_api_remove-redis-msg"|routeExists %}
                        <input type="hidden" id="api-remove-redis-msg"
                               value="{{ path("admin_api_remove-redis-msg") }}"/>
                    {% endif %}
                {% endif %}
                {% set count=0 %}
                <div id="container1">
                    <ul id=redis-list class="tab-list list-rows">
                        {% for msg in messages %}
                            {% set temp = msg|split(';;') %}
                            {% set type = temp[0] %}
                            {% set message = temp[1] %}
                            {% set path = temp[2] %}
                            {% set new = countNew %}
                            {% if type == "success" %}
                                {% if countNew > 0 %}
                                    <li class="success new">
                                    {% set countNew=countNew-1 %}
                                {% else %}
                                    <li class="success">
                                {% endif %}
                                <i class="tiecons tiecons-info-circle"></i>
                                {% if path == ";" %}
                                    <div class="message-group">
                                        <span>
                                            {{ message }}
                                        </span>
                                    </div>
                                    {% if is_granted("ROLE_ADMIN_SIDEBAR_MSG_REMOVE") %}
                                        <a id="sidebar_remove_btn_{{ count }}" href="#">
                                            <input type="hidden" value="{{ message_keys[count] }}"/>
                                            <i class="trinity-close" title="Remove this notification"></i>
                                        </a>
                                    {% endif %}
                                    <div class="detail-info">{% if users[count] != "" %}{{ users[count] }} | {% endif %} {{ times[count] }}</div>
                                {% else %}
                                    {% set tmp= path|split(';') %}
                                    {% set route = tmp[0] %}
                                    {% set params = tmp[1]|json_decode %}
                                    <div class="message-group">
                                        <span>
                                            <a href="{{ path(route, params) }}">
                                                {{ message }}
                                            </a>
                                        </span>
                                    </div>
                                    {% if is_granted("ROLE_ADMIN_SIDEBAR_MSG_REMOVE") %}
                                        <a id="sidebar_remove_btn_{{ count }}" href="#">
                                            <input type="hidden" value="{{ message_keys[count] }}"/>
                                            <i class="trinity-close" title="Remove this notification"></i>
                                        </a>
                                    {% endif %}
                                    <div class="detail-info">{% if users[count] != "" %}{{ users[count] }} | {% endif %} {{ times[count] }}</div>
                                {% endif %}
                                </li>
                            {% elseif type == "warning" %}
                                {% if countNew > 0 %}
                                    <li class="warning new">
                                    {% set countNew=countNew-1 %}
                                {% else %}
                                    <li class="warning">
                                {% endif %}
                                <i class="tiecons tiecons-exclamation-mark-circle"></i>
                                {% if path == ";" %}
                                    <div class="message-group">
                                        <span>
                                            {{ message }}
                                        </span>
                                    </div>
                                    {% if is_granted("ROLE_ADMIN_SIDEBAR_MSG_REMOVE") %}
                                        <a id="sidebar_remove_btn_{{ count }}" href="#">
                                            <input type="hidden" value="{{ message_keys[count] }}"/>
                                            <i class="trinity-close" title="Remove this notification"></i>
                                        </a>
                                    {% endif %}
                                    <div class="detail-info">{% if users[count] != "" %}{{ users[count] }} | {% endif %} {{ times[count] }}</div>
                                {% else %}
                                    {% set tmp= path|split(';') %}
                                    {% set route = tmp[0] %}
                                    {% set params = tmp[1]|json_decode %}
                                    <div class="message-group">
                                        <span>
                                            <a href="{{ path(route, params) }}">
                                                {{ message }}
                                            </a>
                                        </span>
                                    </div>
                                    {% if is_granted("ROLE_ADMIN_SIDEBAR_MSG_REMOVE") %}
                                        <a id="sidebar_remove_btn_{{ count }}" href="#">
                                            <input type="hidden" value="{{ message_keys[count] }}"/>
                                            <i class="trinity-close" title="Remove this notification"></i>
                                        </a>
                                    {% endif %}
                                    <div class="detail-info">{% if users[count] != "" %}{{ users[count] }} | {% endif %} {{ times[count] }}</div>
                                {% endif %}
                                </li>
                            {% elseif type == "danger" %}
                                {% if countNew > 0 %}
                                    <li class="danger new">
                                    {% set countNew=countNew-1 %}
                                {% else %}
                                    <li class="danger">
                                {% endif %}
                                <i class="tiecons tiecons-exclamation-mark-triangle"></i>
                                {% if path == ";" %}
                                    <div class="message-group">
                                        <span>
                                            {{ message }}
                                        </span>
                                    </div>
                                    {% if is_granted("ROLE_ADMIN_SIDEBAR_MSG_REMOVE") %}
                                        <a id="sidebar_remove_btn_{{ count }}" href="#">
                                            <input type="hidden" value="{{ message_keys[count] }}"/>
                                            <i class="trinity-close" title="Remove this notification"></i>
                                        </a>
                                    {% endif %}
                                    <div class="detail-info">{% if users[count] != "" %}{{ users[count] }} | {% endif %} {{ times[count] }}</div>
                                {% else %}
                                    {% set tmp= path|split(';') %}
                                    {% set route = tmp[0] %}
                                    {% set params = tmp[1]|json_decode %}
                                    <div class="message-group">
                                        <span>
                                            <a href="{{ path(route, params) }}">
                                                {{ message }}
                                            </a>
                                        </span>
                                    </div>
                                    {% if is_granted("ROLE_ADMIN_SIDEBAR_MSG_REMOVE") %}
                                        <a id="sidebar_remove_btn_{{ count }}" href="#">
                                            <input type="hidden" value="{{ message_keys[count] }}"/>
                                            <i class="trinity-close" title="Remove this notification"></i>
                                        </a>
                                    {% endif %}
                                    <div class="detail-info">{% if users[count] != "" %}{{ users[count] }} | {% endif %} {{ times[count] }}</div>
                                {% endif %}
                                </li>
                            {% elseif type == "info" %}
                                {% if countNew > 0 %}
                                    <li class="info new">
                                    {% set countNew=countNew-1 %}
                                {% else %}
                                    <li class="info">
                                {% endif %}
                                <i class="tiecons tiecons-info-circle"></i>
                                {% if path == ";" %}
                                    <div class="message-group">
                                                <span>
                                                    {{ message }}
                                                </span>
                                    </div>
                                    {% if is_granted("ROLE_ADMIN_SIDEBAR_MSG_REMOVE") %}
                                        <a id="sidebar_remove_btn_{{ count }}" href="#">
                                            <input type="hidden" value="{{ message_keys[count] }}"/>
                                            <i class="trinity-close" title="Remove this notification"></i>
                                        </a>
                                    {% endif %}
                                    <div class="detail-info">{% if users[count] != "" %}{{ users[count] }} | {% endif %} {{ times[count] }}</div>
                                {% else %}
                                    {% set tmp= path|split(';') %}
                                    {% set route = tmp[0] %}
                                    {% set params = tmp[1]|json_decode %}
                                    <div class="message-group">
                                                <span>
                                                    <a href="{{ path(route, params) }}">
                                                        {{ message }}
                                                    </a>
                                                </span>
                                    </div>
                                    {% if is_granted("ROLE_ADMIN_SIDEBAR_MSG_REMOVE") %}
                                        <a id="sidebar_remove_btn_{{ count }}" href="#">
                                            <input type="hidden" value="{{ message_keys[count] }}"/>
                                            <i class="trinity-close" title="Remove this notification"></i>
                                        </a>
                                    {% endif %}
                                    <div class="detail-info">{% if users[count] != "" %}{{ users[count] }} | {% endif %} {{ times[count] }}</div>
                                {% endif %}

                                </li>
                            {% endif %}

                            {% set count = count+1 %}

                            {% if countNew == 0 and new !=0 %}
                                {% set countNew = -1 %}
                            {% endif %}
                        {% endfor %}

                        {% if count==0 %}
                            <li class="info noaction">
                                <i class="tiecons tiecons-info-circle"></i>
                                <div class="message-group">
                                    <span>You don't have any new notification.</span>
                                </div>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            {% endblock %}
        </div>
    </div>

{% endblock %}

{% block sidebar %}

    {{ knp_menu_render('sidebar', {"currentClass": "active", "template" : "TrinityAdminBundle::kmp_menu.html.twig"}) }}


{% endblock %}