<!DOCTYPE html>
<html>
<head>

    {% block head %}
        <meta charset="UTF-8" />
        <title>{% block title %}Trinity Administration{% endblock %}</title>
        <meta name="viewport" content="initial-scale=1, width=device-width, maximum-scale=1, minimum-scale=1, user-scalable=no">
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,700italic,900,400italic,500,500italic,300,300italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    {% endblock %}

    {% block header_javascript %}

        {% block jquery %}
        {% endblock %}

        {% block headerJavascripts %}
        {% endblock %}

        {% block highcharts %}
        {% endblock %}

    {% endblock %}


    {% block header_stylesheets %}

        {% block stylesheets %}
        {% endblock %}

        {% block bowtie %}
            {% stylesheets
                '@TrinityAdminBundle/Resources/Public/bowtie/bowtie.css'
                '@TrinityAdminBundle/Resources/Public/css/trinity-font.css'
            %}
                <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
            {% endstylesheets %}
        {% endblock %}

        {% block admin %}
            {% stylesheets '@TrinityAdminBundle/Resources/Public/css/admin.css' %}
            <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
            {% endstylesheets %}
        {% endblock %}
    {% endblock %}

</head>

<body onresize='q("#sidebar-tab1-content").style.height = q("body").scrollHeight+"px";' class="trinity-admin navbar-fixed controller_{{ get_controller_name() }} action_{{ get_action_name() }}">



{% block navbar %}

{% endblock %}


{% block element_sidebar %}
    <div id="sidebar">
        {% block sidebar %}
        {% endblock %}
    </div>
{% endblock %}

<div class="container-fluid container-with-sidebar">
    <div class="row">
        <div class="head-content box">
            <div class="row">

                <div class="page-icon">
                   {% block pageIcon %} {% endblock %}
                </div>

                <div class="head-title">
                    <h2 class="content-header">{% block pageTitle %} Dashboard {% endblock %}</h2>
                    <div class="breadcrumbs">
                        {{ wo_render_breadcrumbs() }}
                    </div>
                </div>

                <div class="navigation-box row">
                    {% block pageAction %} {% endblock %}
                </div>

                {% block page_loading %}
                    <div class="header-loader">
                        <div class="load-bar">
                            <div class="bar"></div>
                            <div class="bar"></div>
                        </div>
                    </div>
                {% endblock %}
            </div>
        </div>
    </div>

    {% block flashMessages %}
        <div id="flashMessages">

            <input id="close-alert-{type}-{id}" type="radio" class="ajax-checkbox checkbox-none">
            <div class="alert alert-{type} ajax-alert">
                <div class="container">
                    <div class="row">
                        <div class="span-none-padding-mini-24">
                            <label for="close-alert-{type}-{id}" class="alert-label">
                                <i class="tiecons tiecons-cross-light alert-close-icon"></i>
                            </label>
                            <div class="row">
                                <div class="show-alert">
                                    <div class="span-none-padding-mini-4">
                                        <i class="{icon}"></i>
                                    </div>
                                    <div class="span-none-padding-mini-20">
                                        <p>
                                            {message}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% block flashbag %}
                {% for type, messages in app.session.flashbag.all() %}
                    {% for message in messages %}
                        <input id="close-alert-{{ type }}-{{ loop.index }}" type="radio" class="checkbox-none" />
                        <div class="alert alert-{{ type }}">
                            <div class="container">
                                <div class="row">
                                    <div class="span-none-padding-mini-24">
                                        <label for="close-alert-{{ type }}-{{ loop.index }}" class="alert-label">
                                            <i class="tiecons tiecons-cross-light alert-close-icon"></i>
                                        </label>
                                        <div class="row">
                                            <div class="show-alert">
                                                <div class="span-none-padding-mini-4">
                                                    {% if type == "success" %}
                                                        <i class="trinity trinity-ok"></i>
                                                    {% elseif type == "warning" %}
                                                        <i class="trinity trinity-warning"></i>
                                                    {% elseif type == "danger" %}
                                                        <i class="tiecons tiecons-exclamation-mark-circle"></i>
                                                    {% elseif type == "info" %}
                                                        <i class="trinity trinity-info"></i>
                                                    {% endif %}
                                                </div>
                                                <div class="span-none-padding-mini-20">
                                                    <p>
                                                        {{ message }}
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endblock %}
{#
            <input id="close-alert-type-loop.index " type="radio" class="checkbox-none" />
            <div class="alert alert-warning ">
                <div class="container">
                    <div class="row">
                        <div class="span-none-padding-mini-24">
                            <label for="close-alert-warning" class="alert-label">
                                <i class="tiecons tiecons-cross-light alert-close-icon"></i>
                            </label>
                            <div class="row">
                                <div class="show-alert">
                                    <div class="span-none-padding-mini-4">
                                        <i class="trinity trinity-warning"></i>
                                    </div>
                                    <div class="span-none-padding-mini-20">
                                        <p>
                                            message
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>#}

        </div>
    {% endblock %}

    <div class="row">
        <div class="span-large-24">
            {% block pageBody %}
            {% endblock %}
        </div>
    </div>

    {% block trinity_admin_script_footer %}
        {% block javascripts %}
        {% endblock %}
    {% endblock %}

</div>
</body>
</html>


