<!DOCTYPE html>
<html>
<head>

    {% block head %}
        <meta charset="UTF-8" />
        <title>{% block title %}Trinity Administration{% endblock %}</title>
        <meta name="viewport" content="initial-scale=1, width=device-width, maximum-scale=1, minimum-scale=1, user-scalable=no">
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,700italic,900,400italic,500,500italic,300,300italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    {% endblock %}

    {% block header_javascript %}

        {% block jquery %}
        {% endblock %}

        {% block headerJavascripts %}
        {% endblock %}

        {% block highcharts %}
        {% endblock %}

    {% endblock %}


    {% block header_stylesheets %}

        {% block stylesheets %}
        {% endblock %}

        {% block bowtie %}
            {% stylesheets filter='lessphp' '@TrinityAdminBundle/Resources/Public/css/bowtie.less' %}
            <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
            {% endstylesheets %}
        {% endblock %}

        {% block admin %}
            {% stylesheets filter='lessphp' '@TrinityAdminBundle/Resources/Public/css/admin.less' %}
            <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
            {% endstylesheets %}
        {% endblock %}
    {% endblock %}

</head>

<body onresize='q("#sidebar-tab1-content").style.height = q("body").scrollHeight+"px";' class="trinity-admin navbar-fixed controller_{{ get_controller_name() }} action_{{ get_action_name() }}">

{% block navbar %}
    <nav class="navbar row">
        <input class="hidden" type="checkbox" name="fav" id="fav">

        <div class="navbar-container">
            <div>
                loading
            </div>
            <div class="navbar-logo pull-left">
                {% block navbar_logo %} <i> Logo zde </i> {% endblock %}
                <span class="version">{{ admin_manager.getAppVersion() }}</span>
            </div>

            <div class="pull-right navbar-actions">

                {% block navbar_search %}
                    <div class="navbar-search navbar-actions-item">
                        {% block navbar_seach_form_start %}
                        <form action="{% block search_action %}{% endblock %}" autocomplete="on">
                            {% endblock %}
                            <label for="search">
                                <input  placeholder="{{ admin_manager.serchText }}" class="navbar-search-input" type="text" name="search" id="search">
                                <button type="submit">
                                    <i class="trinity trinity-search"></i>
                                </button>
                            </label>
                            {% block navbar_search_form_end %}
                        </form>
                        {% endblock %}
                    </div>
                {% endblock %}

                {% block navbar_actions %}
                {% endblock %}

                {% block navbar_logout %}
                    <a class="navbar-actions-item size-2" title="Logout me" href="{{ path("fos_user_security_logout") }}">
                        <div class="navbar-actions-item-center">
                            <span class="pull-left margin-right-5 font-14">Logout</span>
                            <i class="trinity trinity-logout"></i>
                        </div>
                    </a>
                {% endblock %}
            </div>

            {% block fav %}
            {% endblock %}
        </div>
    </nav>
{% endblock %}

{% block element_sidebar %}
    <div id="sidebar">
        {% block sidebar %}
        {% endblock %}
    </div>
{% endblock %}

<div class="container-fluid container-with-sidebar">
    <div class="row">
        <div class="head-content box">
            <div class="row">

                <div class="span-none-padding-small-2 span-none-padding-medium-4 span-none-padding-large-3 span-none-padding-xlarge-3">
                       <span class="abs-center">
                           {% block pageIcon %} {% endblock %}
                       </span>
                </div>

                <div class="span-none-padding-small-14 span-none-padding-medium-17 span-none-padding-large-18 span-none-padding-xlarge-19">
                    <h2 class="content-header">{% block pageTitle %} Dashboard {% endblock %}</h2>
                    <div class="breadcrumbs">
                        {{ wo_render_breadcrumbs() }}
                    </div>
                </div>

                <div class="span-none-padding-small-2 span-none-padding-medium-3 span-none-padding-large-3 span-none-padding-xlarge-2">
                       <span class="abs-center">
                           {% block actions %} {% endblock %}
                       </span>

                       <span class="abs-center">
                           {% block pageAction %} {% endblock %}
                       </span>
                </div>

                {% block page_loading %}
                    <div class="header-loader">
                        <div class="load-bar">
                            <div class="bar"></div>
                            <div class="bar"></div>
                        </div>
                    </div>
                {% endblock %}
            </div>
        </div>
    </div>

    {% block flashMessages %}
        <div id="flashMessages">

            <input id="close-alert-{type}-{id}" type="radio" class="ajax-checkbox checkbox-none">
            <div class="alert alert-{type} ajax-alert">
                <div class="container">
                    <div class="row">
                        <div class="span-none-padding-mini-24">
                            <label for="close-alert-{type}-{id}" class="alert-label">
                                <i class="tiecons tiecons-cross-light alert-close-icon"></i>
                            </label>
                            <div class="row">
                                <div class="show-alert">
                                    <div class="span-none-padding-mini-2">
                                        <i class="{icon}"></i>
                                    </div>
                                    <div class="span-none-padding-mini-20">
                                        <p class="margin-left-10">
                                            {message}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% block flashbag %}
                {% for type, messages in app.session.flashbag.all() %}
                    {% for message in messages %}
                        <input id="close-alert-{{ type }}-{{ loop.index }}" type="radio" class="checkbox-none" />
                        <div class="alert alert-{{ type }}">
                            <div class="container">
                                <div class="row">
                                    <div class="span-none-padding-mini-24">
                                        <label for="close-alert-{{ type }}-{{ loop.index }}" class="alert-label">
                                            <i class="tiecons tiecons-cross-light alert-close-icon"></i>
                                        </label>
                                        <div class="row">
                                            <div class="show-alert">
                                                <div class="span-none-padding-mini-5">
                                                    {% if type == "success" %}
                                                        <i class="tiecons tiecons-check color-green font-50"></i>
                                                    {% elseif type == "warning" or type == "danger" %}
                                                        <i class="tiecons tiecons-exclamation-mark-triangle color-red font-50"></i>
                                                    {% elseif type == "info" %}
                                                        <i class="tiecons tiecons-info color-blue font-50"></i>
                                                    {% endif %}
                                                </div>
                                                <div class="span-none-padding-mini-19">
                                                    <p class="margin-left-10">
                                                        {{ message }}
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endblock %}

        </div>
    {% endblock %}

    <div class="row">
        <div class="span-large-24">
            {% block pageBody %}
            {% endblock %}
        </div>
    </div>

    {% block trinity_admin_script_footer %}
        {% block javascripts %}
        {% endblock %}
    {% endblock %}

</div>
</body>
</html>


